.checkout-container {
  max-width: 500px;
  margin: 50px auto;
  background: #111;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
}

.checkout-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout-form .form-group {
  margin-bottom: 15px;
}

.checkout-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.checkout-form button {
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
}

.checkout-success {
  text-align: center;
  margin-top: 100px;
}

.checkout-success h2 {
  color: #00ff88;
}

.order-summary {
 margin-left: 20px;
    justify-content: center;
    align-items: center;
}