.home {
  background-color: #0f1111;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Hero Section */
.hero {
  background: linear-gradient(180deg, #131921, #0f1111);
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #ffa41c;
}

.hero span {
  color: white;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
  color: #ddd;
}

.shop-btn {
  background-color: #ffa41c;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
  transition: 0.3s;
}

.shop-btn:hover {
  background-color: #ffb347;
}

/* Featured Section */
.featured {
  padding: 40px 20px;
  text-align: center;
  margin-top: 5px;
}

.featured h2 {
  color: #ffa41c;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
 padding: 0 15px;
 width: 100%;
 box-sizing: border-box;
}

.product-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  width: 100%;
  max-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  box-sizing: border-box;

}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  max-width: 180px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 1rem;
  color: #fff;
  margin: 10px 0 5px;
}

.product-card p {
  color: #ff9900;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  background-color: #ffa41c;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #ffb347;
}

/* Footer */
.footer {
  background-color: #131921;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 40px;
}



@media(max-width:768px){
  .navbar-container{
    position: relative;
  }
  .cart-mobile-wrapper{
    position:absolute;
    top: 8px;
    right: 12px;
    z-index:999;
  }
  .navbar-search{
    width: 100% !important;
  }
}
@media (max-width:600px){
 
  .home-button{
   margin-left: 0px !important;
  
  }
}
.home-container{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2,1fr));
  margin:0 auto;
overflow-x: hidden;
}
.product-card{
  max-width: 180px;
  padding: 12px;
  margin: 0 auto;

}
.product-card img{
  width: 140px;
  height: 140px;

}


/* Fix Bootstrap row overflow issue on mobile */
@media (max-width: 600px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .col-6 {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}