.loading-spinner-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
}
.loading-spinner{
    border: 4px solid #f3f3f3;
    border-top: 4px solidd #ffa41c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{
        transform: rotate(360deg);
    }
}