.product-card{
    background-color: #1a1a1a;
    border: 2px solid white;
    text-align: center;
    color: white;
    padding: 4x;
    transition: transform 0.3s ease;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(255,255, 255, 0.05);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.product-card .card-body{
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    padding: 12px;
    height: fit-content;
}
.product-card:hover {
    transform: scale(1.03);
}
.product-card img{
    
    height: 180px;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 8px;
}
.product-card h3,.product-card .card-title {
    font-size: 1rem;
    margin-top: 5px;
}
.product-card .card-title {
    font-size: 1rem;
    margin: 6px 0 4px;
    color: #ff9900;
    min-height: 30px;
    display:-webkit-box;
    
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card .card-text{
    font-size: 1.05rem;
   margin-bottom: 8px;
    color: #fff
}
.product-card button {
    background-color: #ffa41c;
    border: none;
    color: #111;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 12px;
    transition: background 0.3s;
    margin-top: auto;

}
.product-card button:hover{
    background-color: #ffb347;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    justify-content: center;
}
.product-card .btn-warning{
    background-color: #ffa41c;
    color:#111;
    font-weight: 700;
    border-radius: 6px;
    padding: 6px 12px;
    border: none;
}

.product-card .btn-warning:hover{
background-color: #ffb347;
}

.section{
    background-color: #0f1111;
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
}